In [33]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [34]:
##loading ann model
model=load_model('model.h5')

##loading encoder and scalar
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)
with open('one_hot_enocder_geo.pkl','rb') as file:
    one_hot_encoder=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [35]:
##input data
input_data={
    'CreditScore':600,
    "Geography":'France',
    "Gender":"Male",
    "Age":40,
    "Tenure":3,
    "Balance":60000,
    "NumOfProducts":2,
    "HasCrCard":1,
    "IsActiveMember":1,
    "EstimatedSalary":50000
}

In [36]:
##creating df
input_data_df=pd.DataFrame([input_data])
input_data_df.head()

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [37]:
##encoding 
input_data_df['Gender']=label_encoder.transform(input_data_df['Gender'])

In [38]:
geo_encoded=one_hot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\tushi\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [40]:
input_data_df=pd.concat([input_data_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [41]:
input_data_df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [42]:
input_scaled=scaler.transform(input_data_df)

In [45]:
predicted=model.predict(input_scaled)
predicted

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

array([[0.05854193]], dtype=float32)

In [49]:
prediction_proba=predicted[0][0]
prediction_proba

np.float32(0.05854193)